
    <tbody>
        <tr class="item_row" role="row">
            <td class="center_txt">RB-946</td>
            <td class="center_txt" style="width: 30px;">22357</td>
            <td class="center_txt" style="width: 30px;"></td>
            <td class="center_txt" style="width: 30px;"></td>
            <td class="center_txt" style="width: 30px;"></td>
            <td class="center_txt">CE/VA</td>
            <td class="center_txt">20045</td>
            <td class="center_txt">Corporate Support</td>
            <td class="center_txt">
                <a href="/cfdocs2/ce/332_form.cfm?id_332=100583&amp;submit_existing=1" target="_new100583">45, Install Fire AV`s in basement</a>
            </td>
            <td class="center_txt">2009</td>
            <td class="center_txt">
                <a href="/cfdocs2/ce/332_pdf.cfm?id_332=100583" target="new100583" title="Click to View PDF this record"><button class="isButton"><img alt="print" src=
                "/JACG_GIF/Buttons/pdf_13x13.png"></button></a> <a href="/cfdocs2/ce/332_form.cfm?id_332=100583&amp;submit_existing=1" title="Click to View this record."><button class=
                "isButton"><img alt="View" src="/JACG_GIF/Buttons/edit_13x13.png"></button></a>
            </td>
        </tr>
        <tr class="item_row" role="row">
            <td class="center_txt">RQ-2013-0017</td>
            <td class="center_txt" style="width: 30px;"></td>
            <td class="center_txt" style="width: 30px;"></td>
            <td class="center_txt" style="width: 30px;"></td>
            <td class="center_txt" style="width: 30px;"></td>
            <td class="center_txt">RQ</td>
            <td class="center_txt">20490</td>
            <td class="center_txt">154</td>
            <td class="center_txt">
                <a href="/cfdocs2/ce/332_form.cfm?id_332=100775&amp;submit_existing=1" target="_new100775">490, Establish Physical Chemistry Lab in room 154</a>
            </td>
            <td class="center_txt">2013</td>
            <td class="center_txt">
                <a href="/cfdocs2/ce/332_pdf.cfm?id_332=100775" target="new100775" title="Click to View PDF this record"><button class="isButton"><img alt="print" src=
                "/JACG_GIF/Buttons/pdf_13x13.png"></button></a> <a href="/cfdocs2/ce/332_form.cfm?id_332=100775&amp;submit_existing=1" title="Click to View this record."><button class=
                "isButton"><img alt="View" src="/JACG_GIF/Buttons/edit_13x13.png"></button></a>
            </td>
        </tr>
        <tr class="item_row" role="row">
            <td class="center_txt">RZ-2009-8002</td>
            <td class="center_txt" style="width: 30px;"></td>
            <td class="center_txt" style="width: 30px;"></td>
            <td class="center_txt" style="width: 30px;"></td>
            <td class="center_txt" style="width: 30px;"></td>
            <td class="center_txt">Not Selected</td>
            <td class="center_txt">20019</td>
            <td class="center_txt"></td>
            <td class="center_txt">
                <a href="/cfdocs2/ce/332_form.cfm?id_332=100729&amp;submit_existing=1" target="_new100729">19, Establish ISIF power/thermal integrtaion facility</a>
            </td>
            <td class="center_txt">2008</td>
            <td class="center_txt">
                <a href="/cfdocs2/ce/332_pdf.cfm?id_332=100729" target="new100729" title="Click to View PDF this record"><button class="isButton"><img alt="print" src=
                "/JACG_GIF/Buttons/pdf_13x13.png"></button></a> <a href="/cfdocs2/ce/332_form.cfm?id_332=100729&amp;submit_existing=1" title="Click to View this record."><button class=
                "isButton"><img alt="View" src="/JACG_GIF/Buttons/edit_13x13.png"></button></a>
            </td>
        </tr>
    </tbody>